<strong>OLá {{provider}}</strong>
<p>Informamos que houve um cancelaemento de horário, confira os detalhes abaixo:</p>
<p>
    <strong>Clinte: {{user}}</strong><br/>
    <strong>Data/Hora: {{date}}</strong><br/>
    <br/>

    <small>
        O horário está novamente disponível para agendamentos.
    </small>
</p>